<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page comment</title>
</head>
<body>
	<h1>Страница с комментариями</h1>
	<hr>
	<% for (var i = 0; i < comments.length; i++) { %>
	<div class="comment">
		<p><b><%=comments[i].name%> </b>[<%=comments[i].date%>]:<br>
		<%=comments[i].comment%></p>
	</div>
	<% } %>
	
	<form method="post">
		<button>Написать комментарий</button>
	</form>
</body>
</html>
