<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New comment</title>
</head>
<body>
	<h1>Добавить новый комментарий</h1>
	<hr>
	<form action="/write" method="post"><br>
		<label for="name">Имя пользователя: </label><br>
		<input type="text" name="name" id="name"><br>
		<label for="comment">Комментарий: </label><br>
		<textarea name="comment" id="comment" ></textarea><br>
		<button>Отправить</button>
	</form>
</body>
</html>